header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 155px;
}

header h1 {
    align-self: center;
    font-size: 55px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
}